* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.imagen-noticia {
  margin: var(--spacing-xl) 0;
  border-radius: var(--radius-md);
  overflow: hidden;
  box-shadow: var(--neu-shadow-md);
}

.imagen-noticia img {
  width: 100%;
  height: 200px;
  display: block;
    object-fit: cover;
}

h3{
    line-height: 1em;
}